
body {
    background: hsl(70, 64%, 50%);

    background: -webkit-linear-gradient(to right, #489aec, #b7eb29);

    background: linear-gradient(to right, #73ace6, #f0920e);

}

.responsive {
    max-width: 75%;
    height: auto;
}

img {
    padding: 15px;
}

.displayBox {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.scroll-box {
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}
header{
    margin-top: 20px;
    height: 400px;
    margin-left: 180px;
    /* margin-right: 300px; */
    /* width: 1500px; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/ban.png');
    border-radius: 20px;
    background-repeat:no-repeat;
    background-size: contain;
}
/* .img{
    height: 299px;
    width: 100px;
} */

.card-header{
    background-color: #b7eb29;
}

a:hover{
    cursor: pointer;
}